name: Build and Test

on:
  pull_request:
    branches:
      - main
    types:
      - closed
  workflow_dispatch:

jobs:
  build:
    if: github.event.pull_request.merged == true
    runs-on: windows-latest
    env:
      BUILD_OUTPUT_PATH: publish-output

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
      
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x' 
        
    - name: Build Release Version
      run: dotnet publish Rotoris.slnx -c Release -o ${{ env.BUILD_OUTPUT_PATH }}
      
    - name: Run Tests
      run: dotnet test Rotoris.slnx --configuration Release --no-build
      
    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: release-compiled-files-${{ github.sha }}
        path: ${{ env.BUILD_OUTPUT_PATH }}
        retention-days: 1