name: Auto Zip Release and Cleanup

on:
  workflow_run:
    workflows: ["Build and Test"] 
    types: 
      - completed
    if: ${{ github.event.workflow_run.conclusion == 'success' }} 

jobs:
  cleanup_and_release:
    runs-on: ubuntu-latest
    
    env:
      COMMIT_SHA: ${{ github.event.workflow_run.head_sha }}
      
    steps:
    
    - name: 獲取 Unix 時間戳並設定 Tag 名稱
      run: |
        TIMESTAMP=$(date +%s)
        
        echo "TAG_NAME=Rotoris_beta_${TIMESTAMP}" >> $GITHUB_ENV
        
        echo "ZIP_FILE_NAME=Rotoris-beta-${TIMESTAMP}.zip" >> $GITHUB_ENV
        echo "TIMESTAMP=${TIMESTAMP}" >> $GITHUB_ENV

    - name: 刪除舊的測試版本和標籤
      uses: dev-drprasad/delete-tag-and-release@v1.1
      with:
        delete_references_matching: 'Rotoris_beta-*'
        tag_regex: true
        github_token: ${{ secrets.GITHUB_TOKEN }}
        keep_last_n_tags: 1 
        
    - name: 下載編譯完成的 Artifacts
      uses: actions/download-artifact@v4
      with:
        name: release-compiled-files-${{ env.COMMIT_SHA }} 
        run-id: ${{ github.event.workflow_run.id }}
        path: downloaded-files/

    - name: 添加 app.ini 版本資訊
      run: |
        VERSION_STRING="${{ env.TIMESTAMP }}"
        ARTIFACT_PATH="downloaded-files/release-compiled-files-${{ env.COMMIT_SHA }}"
        echo -e "[Version]\nAppVersion=${VERSION_STRING}" > "${ARTIFACT_PATH}/app.ini"

    - name: 建立 Zip 壓縮檔
      run: |
        cd downloaded-files/release-compiled-files-${{ env.COMMIT_SHA }}
        zip -r ../${{ env.ZIP_FILE_NAME }} .
        
    - name: 建立新的測試 Release (草稿)
      uses: softprops/action-gh-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ env.TAG_NAME }}
        name: 自動化測試版本 (Rotoris Beta ${{ env.TIMESTAMP }})
        body: |
          此為 Rotoris 專案的自動化測試版本（Beta），由 Commit ${{ env.COMMIT_SHA }} 編譯產生。
        draft: true
        prerelease: true
        files: downloaded-files/*.zip